{% extends 'AppBundle::back_layout.html.twig' %}

{% set fluxType = type=="e" ? 'entrée' : 'sortie' %}
{% if app.request.get('_route') == '_challenge_update_flux' %}
    {% set titre = 'Modification ' ~ fluxType ~ ' pour le produit ' ~ produit.titre %}
{% else %}
    {% set titre = 'Création ' ~ fluxType ~ ' pour le produit ' ~ produit.titre %}
{% endif %}

{% block title %}{{ titre }}{% endblock %}
{% block body %}
    <h1>{{ titre }}</h1>
    {{ form_start(form) }}
    <div class="form-group{{ form.date.vars.errors|length > 0 ? ' has-error' : '' }}">
        {{ form_label(form.date) }} :
        {{ form_widget(form.date, {'attr': {'class': 'form-control'}}) }}
        <div class="help-block with-errors">{{ form_errors(form.date) }}</div>
    </div>
    <div class="form-group{{ form.qte.vars.errors|length > 0 ? ' has-error' : '' }}">
        {{ form_label(form.qte) }} :
        {{ form_widget(form.qte, {'attr': {'class': 'form-control'}}) }}
        <div class="help-block with-errors">{{ form_errors(form.qte) }}</div>
    </div>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $('#flux_date').datepicker({
            language: 'fr-FR',
            todayHighlight: true,
            autoclose: true
        });
    </script>
{% endblock %}