{% extends 'FrontBundle::front_layout.html.twig' %}
{% block title %}Fiche Produit{% endblock %}

{% block body %}
    {{ parent() }}
    <div>
        <h3 id="titre">{{ produit.titre }}</h3>
    </div>
    <div class="row well">
        <div>
            Description : <span id="description">{{ produit.description }}</span>
        </div>
        <div>
            Prix : <span id="prix">{{ produit.prix }}</span>
        </div>
    </div>
    {% if app.user is not null %}
        <div class="form-group">
            <label for="nbCommand">Quantité commande</label> :
            <input type="number" id="nbCommand" class="form-control">
        </div>
        <input type="hidden" id="produitId" value="{{ produit.id }}">
        <div class="btn btn-primary" id="panier">Ajouter au pannier</div>
    {% else %}
        <div class="alert alert-warning">
            {#<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>#}
            Connectez-vous <a href="{{ path('fos_user_security_login') }}">ici</a> pour ajouter au panier
        </div>
    {% endif %}
{% endblock %}