{% extends 'AppBundle::back_layout.html.twig' %}
{% block title %}{% if app.request.get('_route') == '_challenge_produit_add' %}Ajout produit{% else %}Modification produit{% endif %}{% endblock %}
{% block body %}
    <h1>
        {% if app.request.get('_route') == '_challenge_produit_add' %}
            Nouveau produit
        {% else %}
            Modification produit
        {% endif %}
    </h1>
    {{ form_start(form) }}
    <div class="form-group{{ form.titre.vars.errors|length > 0 ? ' has-error' : '' }}">
        {{ form_label(form.titre) }} :
        {{ form_widget(form.titre, {'attr': {'class': 'form-control'}}) }}
        <div class="help-block with-errors">{{ form_errors(form.titre) }}</div>
    </div>
    <div class="form-group{{ form.description.vars.errors|length > 0 ? ' has-error' : '' }}">
        {{ form_label(form.description) }} :
        {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
        <div class="help-block with-errors">{{ form_errors(form.description) }}</div>
    </div>
    <div class="form-group{{ form.prix.vars.errors|length > 0 ? ' has-error' : '' }}">
        {{ form_label(form.prix) }} :
        {{ form_widget(form.prix, {'attr': {'class': 'form-control'}}) }}
        <div class="help-block with-errors">{{ form_errors(form.prix) }}</div>
    </div>
    <div class="form-group{{ form.stock.vars.errors|length > 0 ? ' has-error' : '' }}">
        {{ form_label(form.stock) }} :
        {{ form_widget(form.stock, {'attr': {'class': 'form-control'}}) }}
        <div class="help-block with-errors">{{ form_errors(form.stock) }}</div>
    </div>
    <div class="form-group{{ form.type.vars.errors|length > 0 ? ' has-error' : '' }}">
        {{ form_label(form.type) }} :
        {{ form_widget(form.type, {'attr': {'class': 'form-control'}}) }}
        <div class="help-block with-errors">{{ form_errors(form.type) }}</div>
    </div>
    <div class="form-group{{ form.genre.vars.errors|length > 0 ? ' has-error' : '' }}">
        {{ form_label(form.genre) }} :
        {{ form_widget(form.genre, {'attr': {'class': 'form-control'}}) }}
        <div class="help-block with-errors">{{ form_errors(form.genre) }}</div>
    </div>
    <div class="form-group{{ form.fournisseur.vars.errors|length > 0 ? ' has-error' : '' }}">
        {{ form_label(form.fournisseur) }} :
        {{ form_widget(form.fournisseur, {'attr': {'class': 'form-control'}}) }}
        <div class="help-block with-errors">{{ form_errors(form.fournisseur) }}</div>
    </div>
    {{ form_end(form) }}
{% endblock %}