{% extends 'AppBundle::back_layout.html.twig' %}
{% block title %}Liste produit{% endblock %}
{% block body %}
    <h1>Liste des produits</h1>
    <div id="message-bloc" style="display: none"></div>
    <table id="list-produit">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Description</th>
                <th>Prix</th>
                <th>Stock</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
    </table>

    <button id="addNewProduit">Nouveau produit</button>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function(){
            $('#list-produit').DataTable({
                "processing": true,
                "serverSide": false,
                "searching": true,
                "paging": true,
                "info": false,
                "ajax": {
                    "url": Routing.generate('_challenge_get_produits'),
                    "type": "POST"
                },
                order: [],
                "pageLength": 10,
                "bLengthChange": false,
                "autoWidth": false,
                "columns": [
                    {"data": "titre"},
                    {"data": "description"},
                    {"data": "prix"},
                    {"data": "stock"},
                    {
                        "targets": 0,
                        "searchable": false,
                        "orderable": false,
                        "render": function(data, type, row){
                            return '<a href="#" class="entree" data-id="'+row.id+'">Liste Entrée</a>';
                        }
                    },
                    {
                        "targets": 0,
                        "searchable": false,
                        "orderable": false,
                        "render": function(data, type, row){
                            return '<a href="#" class="sortie" data-id="'+row.id+'">Liste Sortie</a>';
                        }
                    },
                    {
                        "targets": 0,
                        "searchable": false,
                        "orderable": false,
                        "render": function(data, type, row){
                            return '<a href="#" class="updateProduit" data-id="'+row.id+'">Modifier</a>';
                        }
                    },
                    {
                        "targets": 0,
                        "searchable": false,
                        "orderable": false,
                        "render": function(data, type, row){
                            return '<a href="#" class="removeProduit" data-id="'+row.id+'">Supprimer</a>';
                        }
                    }
                ]
            });
        });

        $(document).on('click', '.updateProduit', function(){
            location.href = Routing.generate('_challenge_produit_update', {'id': $(this).data('id')});
        });

        $(document).on('click', '.removeProduit', function(){
            $.ajax({
                url: Routing.generate('_challenge_remove_product', {'id': $(this).data('id')}),
                success: function(_resp) {
                    var selector = '#ajax-error-messages';
                    var messageZone = "#error-message";
                    if (_resp.success) {
                        selector = '#ajax-success-messages';
                        messageZone = "#success-message";
                    }
                    $(selector).text(_resp.message);
                    $(messageZone).html($(selector).closest('.template-message').html());

                    if (_resp.success) {
                        $('#list-produit').DataTable().ajax.reload();
                    }
                }
            });
        });

        $('#addNewProduit').on('click', function(){
            location.href = Routing.generate('_challenge_produit_add');
        });

        $(document).on('click', '.entree', function(){
            location.href = Routing.generate('_challenge_produit_flux', {'id': $(this).data('id'), 'type': 'e'})
        });

        $(document).on('click', '.sortie', function(){
            location.href = Routing.generate('_challenge_produit_flux', {'id': $(this).data('id'), 'type': 's'})
        });
    </script>
{% endblock %}